body {
    font-family:monospace;
    display: grid;
    place-items: center;
    height: 80vh;
    background-color: #FCE5CD;
}

.btn {
    border: 2px solid black;      
    color: black;
    background-color: transparent;
    padding: 16px 32px;      
    text-align: center;      
    display: inline-block;      
    font-size: 16px;      
    margin: 4px 2px;      
    -webkit-transition-duration: 0.4s; 
    /* Safari */      
    transition-duration: 0.4s;      
    cursor: pointer;      
    text-decoration: none;      
    text-transform: uppercase;
}

.btn:hover {
    background-color: black;      
    color: white; 
}

#TorD {
    width: fit-content;
    height: fit-content;
    color: black;
    font-size: 16px;
}
